*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Global variables  declaration*/
:root{
    --primary-text-color:#222;
    --secondary-text-color:#444;
    --card-background-color:white;
    --background-color:#eee;
    --default-margin:30px;


}
/*   Use of  such variable */
.dark{
    --primary-text-color:#fff;
    --secondary-text-color:#ddd;
    --card-background-color:#333;
    --background-color:#111;

}

.container{
    min-height: 100vh;

    padding: 40px;
    background-color: var(--background-color);


}
h1{
    text-align: center;
    color: var(--primary-text-color);
}
.box{

    /* --my-var:rgb(251, 255, 0); */
    padding: var(--default-margin);
    background-color: var(--card-background-color);
    text-align: center;
    margin-block: var(--default-margin);
    border-radius: var(--default-margin);

}


 h2{
    margin-bottom: var(--default-margin);
    color: var(--primary-text-color);

    background-color: var(--my-var);

}
p{
    color: var(--secondary-text-color);
}
@media screen and (min-width: 800px) {
    .container{
        --my-var:rgb(247, 191, 191);
        }
}
